@page "/"
@inject NavigationManager nav


@if (!LIN.Access.Communication.Session.IsOpen)
{
    nav.NavigateTo("/login");
}



@code {



    Dictionary<int, (LIN.Access.Communication.Hubs.ChatHub, MemberChatModel)> Chats = new();


    Shared.ChatSection ChatPage { get; set; }















    int Me = 0;
    int Other = 0;
    string Alias = "";


    List<MemberChatModel> ConversaciónModels = new();



    protected override async Task OnInitializedAsync()
    {

        var token = LIN.Access.Communication.Session.Instance.Token;
        var o = await LIN.Access.Communication.Controllers.Profile.ReadConver(token);

        ConversaciónModels = o.Models;

var hub = new LIN.Access.Communication.Hubs.ChatHub();
            await hub.Suscribe();
        await hub.ConnectMe(LIN.Access.Communication.Session.Instance.Informacion);

        foreach (var e in ConversaciónModels)
        {

            e.Profile = LIN.Access.Communication.Session.Instance.Informacion;
            e.Conversation.Mensajes ??= new();
            
            hub.JoinGroup(e.Conversation.ID.ToString(), (MessageModel message) =>
            {

                e.Conversation.Mensajes.Add(message);
                if (ChatPage.Iam.Conversation.ID == e.Conversation.ID)
                    ChatPage.Render();
                
            });


            Chats.Add(e.Conversation.ID, (hub, e));
        }


        await base.OnInitializedAsync();
    }


    






    LIN.Access.Communication.Hubs.ChatHub ActualHub { get; set; }
    MemberChatModel Member { get; set; }



    void Select(MemberChatModel c)
    {

        var info = Chats.Where(T => T.Key == c.Conversation.ID).FirstOrDefault();

        ActualHub = info.Value.Item1;
        Member = info.Value.Item2;

        base.StateHasChanged();

    }


}

<div class="layoutMain h-full">


    <label class="text-3xl gilroy-bold mt-2">Hola, @LIN.Access.Communication.Session.Instance.Informacion.Alias</label>

    <div class="mt-10">

        @foreach (var aa in ConversaciónModels)
        {
            <div @onclick="()=>Select(aa)" class="flex flex-col bg-gray-200 rounded">
                <label>@aa.Conversation.Name</label>
            </div>
        }

    </div>



    <div class="mt-10">


        @if (ActualHub != null && Member != null)
        {
            <LIN.Chat.Client.Shared.ChatSection @ref="ChatPage" Iam="Member" Hub="ActualHub" />
        }


    </div>



</div>