@page "/support"

<NavBar Tablero="true" />

<style>
    .chat {
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        column-gap: .75rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
    }

    .chat-end {
        place-items: end;
        grid-template-columns: 1fr auto;
    }
    .chat-start {
        place-items: start;
        grid-template-columns: auto 1fr;
    }
    .chat-start .chat-bubble {
        grid-column-start: 2;
        border-bottom-left-radius: 0;
    }

    .chat-end .chat-bubble {
        grid-column-start: 1;
        border-bottom-right-radius: 0;
    }

    .chat-bubble {
        position: relative;
        display: block;
        width: -moz-fit-content;
        width: fit-content;
        padding: .5rem 1rem;
        max-width: 90%;
        border-radius: var(--rounded-box,1rem);
        min-height: 2.75rem;
        min-width: 2.75rem;
        --tw-bg-opacity: 1;
        background-color: #1e293b;
        --tw-text-opacity: 1;
        color: white;
    }
</style>


<div class="layoutMain h-full">


    <h1 style="font-size: 35px" class="gilroy-bold">Chat</h1>



    <div class="flex flex-col w-96 bg-gray-100">

        <div class="chat chat-start">
            <div class="chat-bubble">It's over Anakin</div>
        </div>

        <div class="chat chat-end">
            <div class="chat-bubble">You underestimate my power!</div>
        </div>

    </div>
 


</div>