@page "/"
@inject NavigationManager nav


@if (!LIN.Access.Communication.Session.IsOpen)
{
    nav.NavigateTo("/login");
}


<style>
    .chat {
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        column-gap: .75rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
    }

    .chat-end {
        place-items: end;
        grid-template-columns: 1fr auto;
    }
    .chat-start {
        place-items: start;
        grid-template-columns: auto 1fr;
    }
    .chat-start .chat-bubble {
        grid-column-start: 2;
        border-bottom-left-radius: 0;
    }

    .chat-end .chat-bubble {
        grid-column-start: 1;
        border-bottom-right-radius: 0;
    }

    .chat-bubble {
        position: relative;
        display: block;
        width: -moz-fit-content;
        width: fit-content;
        padding: .5rem 1rem;
        max-width: 90%;
        border-radius: var(--rounded-box,1rem);
        min-height: 2.75rem;
        min-width: 2.75rem;
        --tw-bg-opacity: 1;
        background-color: #1e293b;
        --tw-text-opacity: 1;
        color: white;
    }
</style>

@code{
    int Me = 0;
    int Other = 0;
    string Alias = "";


    List<ConversaciónModel> ConversaciónModels = new();

    protected override async Task OnInitializedAsync()
    {

        var token = LIN.Access.Communication.Session.Instance.Token;
        var o = await LIN.Access.Communication.Controllers.Profile.ReadConver(token);

        ConversaciónModels = o.Models;

        OpenChats.Clear();
        foreach (var c in o.Models)
        {

            Shared.ChatSection section = new Shared.ChatSection(c);

            OpenChats.Add(section);
        }


        await  base.OnInitializedAsync();
    }



    List<Shared.ChatSection> OpenChats = new();



    void Select(ConversaciónModel c)
    {
        var chat =  OpenChats.Where(a => a.conversación == c).FirstOrDefault();
        if (chat != null)
        {

            Seccion2 = chat;
            base.StateHasChanged();

        }
    }


    public Shared.ChatSection Seccion { get; set; }
    public Shared.ChatSection Seccion2 { get; set; }


}

<div class="layoutMain h-full">


    <label class="text-3xl gilroy-bold mt-2">Hola, @LIN.Access.Communication.Session.Instance.Informacion.Alias</label>

    <div class="mt-10">

    @foreach(var aa in ConversaciónModels)
        {
            <div @onclick="()=>Select(aa)" class="flex flex-col bg-gray-200 rounded">
                <label>@aa.UsuarioA.Alias</label>
                <label>@aa.UsuarioB.Alias</label>
            </div>
        }

    </div>



    <div class="mt-10">


        @if (Seccion2 != null)
        {
            <LIN.Chat.Client.Shared.ChatSection Hub="Seccion2.Hub" conversación="Seccion2.conversación" Me="Seccion2.Me" OtherID="Seccion2.OtherID" />
        }

       

       
       
    </div>
 


</div>