@* @page "/geolocation"
@inject IJSRuntime JS

<button @onclick="RequestLocationPermission">Solicitar permiso de ubicación</button>
<button @onclick="GetLocation" disabled="@(!locationPermissionGranted)">Obtener ubicación</button>

<p>Latitud: @latitude</p>
<p>Longitud: @longitude</p>

@code {
    
} *@