@page "/logout"
@inject NavigationManager nav


@inject Blazored.LocalStorage.ILocalStorageService localStorage;

<div class="flex items-center justify-center h-screen">
    <CircleLoader />
</div>


@code{

    protected async override void OnInitialized()
    {
        LIN.Access.Communication.Session.CloseSession();
        Online.StaticHub.Leave();
        await localStorage.ClearAsync();
        await Task.Delay(1000);
        nav.NavigateTo("/login");
        base.OnInitialized();
    }
  
}