@code {


    [Parameter]
    public Action<MemberChatModel> OnClick { get; set; }


    [Parameter]
    public MemberChatModel Member { get; set; }



    public bool IsSelect { get; set; } = false;



    public bool IsNew = false;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
    //var hub = Hub();
    // hub?.SuscribeToMe(Member.Conversation.ID.ToString(), (e) =>
    // {
    //     IsNew = true;
    //     base.StateHasChanged();
    // });
        }

        return base.OnAfterRenderAsync(firstRender);
    }

    public void Render()
    {
        StateHasChanged();
    }

    public void Select()
    {
        IsSelect = true;
        Render();
    }

    public void Unselect()
    {
        IsSelect = false;
        Render();
    }

}


<div @onclick="() =>{OnClick(Member); IsNew = false; StateHasChanged();}" class="flex ring-2 ring-gray-200  bg-white mt-2 p-4 rounded dark:bg-zinc-800 dark:ring-zinc-600 @(IsSelect ? "ring-indigo-500 dark:ring-indigo-500" : "") select-none">
    <div class="flex items-center">

        @if (Member.Conversation.Members != null && Member.Conversation.Type == Types.Communication.Enumerations.ConversationsTypes.Personal && Member.Conversation.Members.Count >= 1)
        {
            var member = Member.Conversation.Members.FirstOrDefault(t => t.Profile.AccountID != LIN.Access.Communication.Session.Instance.Account.ID);


            var profile = LIN.Allo.Client.Pages.Chat.accounts.Where(a=>a.ID == member.Profile.AccountID).FirstOrDefault();

            string img64 = Convert.ToBase64String(profile?.Perfil ?? []);

            <button type="button" class="flex bg-white dark:bg-zinc-700 text-sm rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button">
                <span class="sr-only">Open</span>
                <img class="w-7 h-7 p-1 rounded-full ring-2 ring-gray-300" src="data:image/png;base64,@img64">
            </button>

            <label class="text-base gilroy-bold ml-2 text-gray-700 dark:text-gray-300">@(profile?.Nombre ?? "Error")</label>
        }
        else
        {
            <img class="h-4 w-4" src="./group (2).png" />
            <label class="text-base gilroy-bold ml-2 text-gray-700 dark:text-gray-300">@Member.Conversation.Name</label>
        }
        
    </div>

    @if (IsNew)
    {
        <span class="ml-3 inline-flex items-center bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
            <span class="w-2 h-2 mr-1 bg-green-500 rounded-full"></span>
            Nuevos mensajes
        </span>
    }


</div>