<div class="success-animation">
    <svg class="checkmark stroke-current-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="checkmark__circle fill-[#F7F8FD] dark:fill-black" cx="26" cy="26" r="25" />
        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
    </svg>
</div>