@page "/"

<!-- Propiedades -->
@rendermode RenderMode.InteractiveWebAssembly
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime

<!-- Pantalla de carga -->
@if (!Access.Communication.Session.IsOpen)
{
    <div class="flex justify-center items-center h-screen w-full">
        <CircleLoader />
    </div>

    Task.Run(async () =>
    {
        navigationManager.NavigateTo("/login");
    });
    return;
}


<!-- Drawer Emma -->
<Emma @ref="EmmaDrawer" />

<!-- Drawer Nueva conversación -->
<NewGroup OnSuccess="ForceRetrieveData" @ref="NewGroupModal" />

<!--Dropdown menu-->
<DropdownMenu />

<!-- Drawer de integrantes -->
<Members @ref="MemberDrawer" />


<div>

    <div class="w-full h-32 bg-[#F8F7FB] dark:bg-[#242424]">
    </div>

    <div class="w-screen" style="margin-top: -128px;">
        <div class="h-screen">
            <div class="flex flex-row h-full">

                <!-- Left -->
                <div class="w-full lg:w-1/3 flex @(ActualSection != 0 ? "hidden lg:flex" : "") flex-col">

                    <!-- Header -->
                    <div class="px-5 pt-3 pb-1 flex flex-row justify-between items-center border-r bg-[#F8F7FB] dark:bg-[#141414] dark:border-zinc-600">
                        <div class="flex items-center">

                            <!-- Dropdown Open -->
                            <button @onclick="E" type="button" class="flex bg-white dark:bg-zinc-700 text-sm rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button">
                                <span class="sr-only">Open</span>
                                <img class="w-8 h-8 p-1 rounded-full ring-2 ring-gray-300" src="data:image/png;base64,@Img64">
                            </button>

                            <!-- Datos personales -->
                            <div class="flex flex-col">
                                <label class="ml-3 text-sm font-bold dark:text-gray-300">@Access.Communication.Session.Instance.Profile.Alias</label>
                                <label class="ml-3 text-xs dark:text-gray-400" style="margin-top:-3px">@@@(Access.Communication.Session.Instance.Account.Usuario)</label>
                            </div>

                        </div>

                        <!-- Botones de acción -->
                        <div class="flex justify-center items-center gap-3">

                            <!-- Emma -->
                            <div>
                                <button class="h-5 w-5 hover:animate-pulse rounded-full">
                                    <img @onclick="OpenEmma" src="./arroba.png" />
                                </button>
                            </div>

                            <!-- Nuevo grupo -->
                            <div>
                                <button @onclick="OpenNewGroup" title="Nueva conversación"
                                        class="group cursor-pointer outline-none hover:rotate-90 duration-300">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 24 24"
                                         class="stroke-zinc-600 dark:stroke-zinc-400 fill-none dark:group-hover:fill-zinc-800 group-hover:fill-zinc-200 group-active:stroke-zinc-200 group-active:fill-zinc-600 group-active:duration-0 duration-300 w-6 h-6">
                                        <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
                                              stroke-width="1.5"></path>

                                        <path d="M8 12H16" stroke-width="1.5"></path>
                                        <path d="M12 16V8" stroke-width="1.5"></path>
                                    </svg>
                                </button>
                            </div>

                        </div>

                    </div>


                    <!-- Lista de conversaciones -->
                    <div class="flex-1 overflow-auto border-r bg-[#F8F7FB] dark:bg-[#141414] dark:border-zinc-600">

                        <div class="px-5 mt-4">

                            <!-- Titulo -->
                            <label class="text-base font-bold text-gray-800 dark:text-gray-200">Conversaciones</label>

                            <!-- Entrada de búsqueda -->
                            <div class="mt-2 mb-5">
                                <input type="text" autocomplete="off" required="" class="block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 px-3 py-2 text-gray-900 placeholder-gray-400 focus:border-indigo-500 focus:bg-white focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Buscar">
                            </div>
                           
                            @if (IsConversationsLoad)
                            {
                                // Si no hay conversaciones.
                                if (Conversations.Count <= 0)
                                {
                                    <div class="flex rounded justify-center items-center border-dashed border-2 border-gray-800 w-full p-3 mt-3 dark:border-gray-400">
                                        <label class="text-gray-700 dark:text-gray-200">No tienes ninguna conversación</label>
                                    </div>
                                }
                                
                                // Renderizar las conversaciones.
                                else
                                {
                                    foreach (var conversation in Conversations)
                                    {
                                        <Control Member="@(conversation.Chat)" @ref="ComponentRef" OnClick="Select" />
                                    }
                                }

                            }
                            else
                            {
                                <!-- Cargando las conversaciones -->
                                <ControlSkeleton />
                                <ControlSkeleton />
                                <ControlSkeleton />
                                <ControlSkeleton />
                            }


                        </div>
                    </div>

                </div>

                <!-- Right -->
                <div class="w-full @(ActualSection != 1 ? "hidden lg:flex" : "") lg:w-2/3 flex flex-col bg-[#F8F7FB] dark:bg-[#242424]">

                    <!-- Mostrar el chat -->
                    @if (ChatSection.Hub != null && SelectedConversation != null)
                    {
                        <ChatSection @ref="ChatPage" Drawer="MemberDrawer" Iam="SelectedConversation" OnBackPress="() =>{ ActualSection = 0; SelectedConversation = null; foreach (var c in Conversations) c.Control?.Unselect(); StateHasChanged(); }" />
                    }

                    // No esta seleccionado.
                    else
                    {
                        <div class="flex flex-col h-full w-full items-center justify-center bg-[#F8F7FB] dark:bg-[#242424]">
                            <img class="h-56 w-56" src="./chatdraw.svg" />
                            <label class="text-3xl font-bold dark:text-white">Bienvenido a LIN Allo</label>
                            <label class="text-gray-600 mt-1 dark:text-gray-400">Puedes usar LIN Allo y los servicios asociados en tu dispositivo <span class="text-blue-600">Windows</span> o <span class="text-green-500">Android</span> </label>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
</div>

