@page "/logout"
@rendermode RenderMode.InteractiveWebAssembly
@inject NavigationManager nav


<div class="flex items-center justify-center h-screen">
    <CircleLoader />
</div>


@code{

    protected override async void OnInitialized()
    {
        Access.Communication.Session.CloseSession();
        // Online.StaticHub.Leave();
        // await localStorage.ClearAsync();
        await Task.Delay(1000);
        nav.NavigateTo("/login");
        base.OnInitialized();
    }

}