@page "/products/account"

@inject NavigationManager nav

<NavBar Acerca="true" />

<div class="layoutMain">

    <h1 class="mb-6 text-3xl font-extrabold text-gray-900 md:text-5xl lg:text-6xl">
       LIN <span class="text-blue-600">Account</span>.
    </h1>

    <p class="text-sm font-normal text-gray-500 lg:text-xl text-justify">
        Accede a tu cuenta de LIN y saca el mayor provecho de los diversos servicios que normalmente utilizas
        en la plataforma. Tu cuenta te brinda la posibilidad de disfrutar de beneficios adicionales, como adaptar
        tu experiencia en LIN según tus preferencias y acceder de manera conveniente a la información relevante
        desde cualquier lugar.
    </p>

    


    <div class="mt-5 grid grid-cols-1 lg:grid-cols-2 gap-3">
    
        <div class="flex flex-col w-full p-3 border-2 border-gray-200 rounded-lg">
            <label class="gilroy-bold text-blue-600">Sincronización</label>
            <label class="text-sm">Cuando accedes a tu cuenta, los servicios de LIN colaboran para brindarte asistencia en las actividades cotidianas, como la sincronización de tus inventarios de Inventory con Commerce Max.</label>
        </div>

        <div class="flex flex-col w-full p-3 border-2 border-gray-200 rounded-lg">
            <label class="gilroy-bold text-blue-600">Seguridad</label>
            <label class="text-sm">Las funciones de seguridad en tu cuenta de LIN están diseñadas para identificar y prevenir automáticamente posibles amenazas antes de que puedan causarte algún problema.</label>
        </div>

    </div>

    <div class="flex items-center justify-center w-full mt-10">
        <img class="h-52 w-52 self-center" src="./img/security.svg" />
    </div>

    <h1 class="mt-2 text-xl font-extrabold text-gray-900 md:text-2xl lg:text-3xl text-center">
        Privacidad y seguridad
    </h1>

    <p class="text-base font-normal text-gray-500 lg:text-base text-justify mt-2">
        Nunca antes ha sido tan crucial salvaguardar toda la información de tu cuenta en LIN.
        Es por eso que hemos incorporado en todas las cuentas medidas de protección y herramientas valiosas,
        como la Revisión de Seguridad y la LIN Passkey.
    </p>


    <div class="mt-5 grid grid-cols-1 lg:grid-cols-2 gap-3">

        <div class="flex flex-col w-full p-4 border-2 border-blue-500 rounded-lg h-24 justify-center items-center">
            <label class="gilroy-bold text-blue-600">Revision de seguridad</label>
            <label class="text-sm text-center">Analizamos si un inicio de sesión es sospechoso y protegemos tu cuenta.</label>
        </div>

        <div class="flex flex-col w-full p-4 border-2 border-blue-500 rounded-lg h-24 justify-center items-center">
            <label class="gilroy-bold text-blue-600">LIN Passkey</label>
            <label class="text-sm text-center">Inicia sesión en cualquier sitio LIN usando tu teléfono y tu huella digital.</label>
        </div>

    </div>



    <div class="rounded-lg border-2 border-gray-300 p-5 mt-10">

   
















    <div class="flex items-center justify-center w-full">
        <img class="h-36 w-36 self-center" src="./img/completed.svg" />
    </div>

    <h1 class="mt-9 text-2xl font-extrabold text-gray-900 md:text-3xl lg:text-4xl text-center">
        Tu experiencia de LIN comienza aquí
    </h1>

    <div class="flex items-center justify-center flex-row mt-4">

        <button @onclick="GoToSettings" type="button" class="w-48 text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none">Ir a tu cuenta</button>

            <button @onclick="GoToRegister" type="button" class="w-48 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Crear cuenta LIN</button>
    
    </div>

        <div class="flex items-center justify-center flex-row mt-2">

            <label @onclick="GoToAuth" class="text-xs hover:text-blue-500">Recursos para desarrolladores.</label>

        </div>

  

    </div>


</div>
@code{


    void GoToAuth()
    {
        nav.NavigateTo("/api/auth");
    }


    void GoToSettings()
    {
        nav.NavigateTo("/settings");
    }


    void GoToRegister()
    {
        nav.NavigateTo("/register");
    }

}