@page "/products/account"

<NavBar Acerca="true" />

<div class="layoutMain">

    <h1 class="mb-6 text-3xl font-extrabold text-gray-900 md:text-5xl lg:text-6xl">
       LIN <span class="text-indigo-600">Account</span>.
    </h1>

    <p class="text-xl font-normal text-gray-500 lg:text-xl text-justify">
        ¡Simplifica tu vida digital con LIN Account! Olvídate de múltiples cuentas y contraseñas. Con LIN Account,
        un solo ID te brinda acceso y administración de servicios y aplicaciones en un solo lugar. Desde inicio de
        sesión hasta gestión de servicios, disfruta de la comodidad y simplicidad de tener una cuenta LIN. ¡Un ID
        para regirlos a todos! LIN Account: Tu llave universal.
    </p>

    


    <div role="list" class="mx-auto mt-5 grid max-w-2xl grid-cols-1 gap-3 lg:max-w-none lg:grid-cols-2">
        <div>
            <div role="list" class="flex flex-col gap-y-8">

                <div class="flex bg-gray-200 rounded-lg h-40 w-full flex-row items-center justify-center p-7 hover:bg-gray-300">


                    <img class="h-10 w-10 animate-bounce" src="./img/fingerprint.png" />
                    <div class="flex flex-col ml-3">

                        <h5 class="gilroy-bold text-base">
                            LIN <span class="text-transparent bg-clip-text bg-gradient-to-r to-indigo-700 from-indigo-400">Passkey</span>
                        </h5>
                        <h5 class="text-sm">Usa tu huella digital para acceder a tu cuenta LIN con un solo click.</h5>
                    </div>

                </div>

            </div>
        </div>
        <div>
            <div role="list" class="flex flex-col gap-y-8">

                <div class="flex bg-gray-200 rounded-lg h-40 w-full flex-row items-center justify-center p-7 hover:bg-gray-300">


                    <img class="h-10 w-10 animate-bounce" src="./img/box.png" />
                    <div class="flex flex-col ml-3">

                        <h5 class="gilroy-bold text-base">
                            <span class="text-transparent bg-clip-text bg-gradient-to-r to-blue-700 from-blue-400">LIN</span> Apps
                        </h5>
                        <h5 class="text-sm">Aplicaciones empresariales como LIN Inventory o Cloud Console.</h5>
                    </div>

                </div>


            </div>
        </div>

    </div>



   

    <h1 class="mt-9 text-2xl font-extrabold text-gray-900 md:text-3xl lg:text-4xl self-center text-center">
        Tu experiencia de LIN comienza aquí
    </h1>

    <div class="flex items-center justify-center flex-row mt-4">

        <button type="button" class="w-48 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none">Ir a tu cuenta</button>

        <button type="button" class="w-48 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Crear cuenta LIN</button>
    
    </div>

</div>