@page "/contactos"

<NavBar Tablero="true" />


@code {

    public static Contactos? Context { get; private set; }

    private List<LIN.Shared.Models.ContactDataModel> Modelos = new();

    private List<LIN.Shared.Models.ContactDataModel> Papelera = new();


    private bool loaded = false;


    public async void Load()
    {
        loaded = false;

        var response = await LIN.Access.Controllers.Contact.ReadAll(LIN.Access.Developer.Session.Instance.Informacion.ID);


        if (response.Response != Responses.Success)
        {
            return;
        }

        Online.StaticHub.Hub.OnReceiveContact += Hub_OnReceiveContact;


        Modelos = response.Models.Where(T => T.State == ContactStatus.Normal).ToList();
        Papelera = response.Models.Where(T => T.State == ContactStatus.OnTrash).ToList();
        loaded = true;
        base.StateHasChanged();

    }

}

@{
    Context = this;
}



<div class="layoutMain">


    <h1 style="font-size: 35px" class="gilroy-bold">Contactos</h1>


    @if (!loaded)
    {

        <div class="flex flex-row w-full mt-7 items-center justify-center">
            <CircleLoader></CircleLoader>
        </div>

    }
    else
    {

        <div class="mt-4">
            @foreach (var model in Modelos)
            {
                <ContactComponet Modelo="model"></ContactComponet>
            }
        </div>




    }


</div>



@code
{

    protected override async void OnInitialized()
    {

        Load();

        base.OnInitialized();


    }

    private async void Hub_OnReceiveContact(object? sender, ContactDataModel e)
    {

        Modelos.Add(e);
        base.StateHasChanged();

    }
}