@page "/documentacion"
@inject NavigationManager nav;

<NavBar Documentacion="true"/>

<div class="layoutMain">

    <h1 style="font-size: 35px" class="gilroy-bold">Documentacion</h1>

    <h4 class="gilroy-bold mt-5">Vision General</h4>
    <p class="gilroy text-justify">LIN Services proporciona una lista de APIs que cualquier desarrollador puede integrar en su proyecto, para esto el desarrollador debe tener en cuenta sus requerimientos y en base a ello escojer el plan que mejor se adapte.</p>

    <h4 class="gilroy-bold mt-2">Modelos de IA</h4>
    <p class="gilroy mb-3">
        Actualmente estos son los modelos de inteligencia artificial que LIN te proporciona:
    </p>


  

    <Card Titulo="Dynamic IA Visionary"
        Clicked="GoToVisionIa"
          Descripcion="Descubre el poder de ver el mundo a través de los ojos de la inteligencia artificial."
          Src="./img/telescope.png" />

    <Card Titulo="Dynamic IA Lingua"
          Clicked="GoToLingua"
          Descripcion="Comprende el lenguaje en todas sus formas con nuestra clasificación de lenguaje precisa y confiable."
          Src="./img/library.png" />

    <Card Titulo="Dynamic IA Genderize"
          Clicked="GoToGenderize"
          Descripcion="Predice el género asociado a un nombre y obtén información valiosa sobre tu audiencia."
          Src="./img/wc.png" />

    <Card Titulo="Dynamic IA EmoSense"
          Clicked="GoToEmoSense"
          Descripcion="Siente las emociones detrás de las palabras y descubre el verdadero tono de los mensajes."
          Src="./img/heart.png" />


    <h4 class="gilroy-bold mt-7">Otras apis</h4>
    <p class="gilroy mb-3">
        No todo es IA, tambien hay otras herramientas que son utiles al momento de desarrollar:
    </p>


    <Card Titulo="LIN Maps"
          Descripcion="Una api de acceso a mapas que puede"
          Src="./img/map.png" />

    <Card Titulo="Whats my IP"
          Descripcion="Conoce la IP de tu cliente rapido y sencillo"
          Src="./mapa.png" />







</div>
@code{


    void GoToVisionIa() => nav.NavigateTo("/documentacion/visionia");

    void GoToLingua() => nav.NavigateTo("/documentacion/lingua");

     void GoToGenderize() => nav.NavigateTo("/documentacion/genderize");

    void GoToEmoSense() => nav.NavigateTo("/documentacion/emosense");

    void GoToMaps() => nav.NavigateTo("/documentacion/maps");


}