@page "/login/forgetPassword"
<PageTitle>Olvide mi contraseña</PageTitle>

@inject NavigationManager nav;
@inject Blazored.LocalStorage.ILocalStorageService localStorage;



<!--CSS-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">




<style>

    .login,
    .image {
        min-height: 100vh;
    }

    .bg-image {
        background-image: url('./bg2.jpg');
        background-size: cover;
        background-position: center center;
    }

</style>






@code {


    string errorVisible = "h";

    int Seccion = 1;

    string email = "";

}


<div class="container-fluid bg-white">
    <div class="row no-gutter">


        <!-- Contenido -->
        <div class="col-md-6 bg-white">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">


                        @if (Seccion == 0)
                        {
                            <center>
                                <CircleLoader />
                                <h5 class="mt-2 gilroy-bold text-sm text-gray-600">@LogMessage</h5>
                            </center>
                        }


                        else if (Seccion == 1)
                        {

                            <div class="relative z-10 flex flex-1 flex-col bg-white px-4 py-10 sm:justify-center md:flex-none md:px-28">
                                <div class="mx-auto w-full max-w-md sm:px-4 md:w-96 md:max-w-sm md:px-0">
                                    <div class="flex flex-col">

                                        <!--Nombre-->
                                        <div class="flex flex-row items-center">
                                            <img class="self-center" src="./img/box.png" style="height:40px; width: 40px" />
                                            <label class="text-xl self-center ml-2 gilroy-bold">
                                                LIN
                                                <span class="text-transparent bg-clip-text bg-gradient-to-r to-indigo-500 from-blue-500"> Account</span>

                                            </label>
                                        </div>

                                        <!--Mensjae de cuenta-->
                                        <div class="mt-10">

                                           
                                                 <h2 class="text-lg font-semibold text-gray-900">Recuperar contraseña</h2>
                                            
                                            <p class="mt-2 text-sm text-gray-700">
                                                Debes de tener un correo electronico asociado a tu ID
                                            </p>
                                        </div>

                                    </div>

                                    <div class="mt-6 grid grid-cols-1 gap-4">


                                        <!--Usuario-->
                                        <div class="">
                                            <label for="email" class="mb-2 block text-sm font-medium text-gray-700">
                                                Usuario
                                            </label>
                                            <input @onkeypress="HideError" @bind="User" type="text" autocomplete="off" required=""
                                                   class="block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 px-3 py-2 text-gray-900 placeholder-gray-400 focus:border-blue-500 focus:bg-white focus:outline-none focus:ring-blue-500 sm:text-sm">
                                        </div>

                                       

                                       

                                        <center class="@errorVisible" style="margin-bottom: -10px;">
                                            <label  class="text-red-500 gilroy-bold text-sm">@ErrorMessage</label>
                                        </center>

                                        <!--Boton-->
                                        <div class="flex flex-row mt-2">


                                            <button @onclick="Start" class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-blue-600 text-white hover:text-slate-100 hover:bg-blue-500 active:bg-blue-800 active:text-blue-100 focus-visible:outline-blue-600 w-full">
                                                <span>Reestablecer <span aria-hidden="true">→</span></span>
                                            </button>

                                            <button @onclick="Return" href="/loginkey" type="button" class="text-white bg-blue-600 w-20 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center ml-2  flex justify-center">

                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                                                    </svg>
                                               

                                            </button>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        }


                        else if (Seccion == 2)
                        {

                            <div class="relative z-10 flex flex-1 flex-col bg-white px-4 py-10 sm:justify-center md:flex-none md:px-28">
                                <div class="mx-auto w-full max-w-md sm:px-4 md:w-96 md:max-w-sm md:px-0">
                                    <div class="flex flex-col">

                                        <!--Nombre-->
                                        <div class="flex flex-row items-center">
                                            <img class="self-center" src="./img/box.png" style="height:40px; width: 40px" />
                                            <label class="text-xl self-center ml-2 gilroy-bold">
                                                LIN
                                                <span class="text-transparent bg-clip-text bg-gradient-to-r to-indigo-500 from-blue-500"> Account</span>

                                            </label>
                                        </div>

                                        <!--Mensjae de cuenta-->
                                        <div class="mt-10">

                                            <h2 class="text-lg font-semibold text-gray-900">Recuperar contraseña</h2>

                                            <p class="mt-2 text-sm text-gray-700">
                                                Se envio el correo electronico a <span class="text-blue-500">@email</span>
                                            </p>
                                        </div>

                                    </div>

                                    <div class="mt-6 grid grid-cols-1 gap-4">


                                        <!--Boton-->
                                        <div class="flex flex-row mt-4">

                                            <button @onclick="Return" class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-blue-600 text-white hover:text-slate-100 hover:bg-blue-500 active:bg-blue-800 active:text-blue-100 focus-visible:outline-blue-600 w-full">
                                                <span>Volver <span aria-hidden="true">→</span></span>
                                            </button>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            
                        }


                    </div>
                </div>

            </div>
        </div>


        <!-- Imagen -->
        <div class="col-md-6 d-none d-md-flex bg-image hidden sm:contents lg:relative lg:block lg:flex-1" />



    </div>
</div>





@code {


    /// <summary>
    /// Hace visisbles los controles
    /// </summary>
    void ShowControls()
    {
        Seccion  = 1;
        StateHasChanged();
    }


    /// <summary>
    /// Oculta los controles
    /// </summary>
    void HideControls()
    {
        Seccion = 0;
        StateHasChanged();
    }


    /// <summary>
    /// Oculta los errores
    /// </summary>
    void HideError()
    {
        errorVisible = "h";
        StateHasChanged();
    }


    /// <summary>
    /// Muestra un mensaje
    /// </summary>
    void ShowError(string message)
    {
        errorVisible = "v";
        ErrorMessage = message;
        StateHasChanged();
    }


    void Return()
    {
        nav.NavigateTo("/login");
    }


    /// <summary>
    /// Inicia sesion
    /// </summary>
    async void Start()
    {

        HideControls();
        HideError();

        // Sin información
        if (User.Length <= 0)
        {
            ShowControls();
            ShowError("Completa todos los campos");
            return;
        }


       var result = await LIN.Access.Auth.Controllers.Account.ForgetPassword(User);

        if(result.Response != Responses.Success)
        {
            ShowControls();
            ShowError("No se pudo recuperar tu contraseña");
            return;
        }

        email = result.Model.Email ?? "";
        Seccion = 2;
        base.StateHasChanged();

    }








    //LIN.Access.Hubs.PasskeyHub? hub;




    void CancelHi()
    {
        // hub?.Disconet();
        // hub = null;

        // ShowControls();
        // return;
    }


}