@page "/IA"

<NavBar />

<div class="layoutMain">

    <h1 class="mb-6 text-3xl font-extrabold text-gray-900 md:text-5xl lg:text-6xl">
        <span class="text-transparent bg-clip-text bg-gradient-to-r to-green-600 from-blue-400 hover:to-green-400 hover:from-blue-600">Dynamic IA</span> con datos mejorados.
    </h1>

    <p class="text-lg font-normal text-gray-500 lg:text-xl text-justify">
        Dynamic IA es un grupo innovador de modelos de IA que está revolucionando el campo. Ofrecen categorización
        de imágenes, clasificación de lenguaje, análisis de sentimientos y categorización de género. Con una precisión
        impresionante y enfoques innovadores, Dynamic IA brinda soluciones poderosas para diversas aplicaciones.
        Únete a ellos y experimenta el siguiente nivel de capacidades de IA.
    </p>



    <h1 class="mt-5  font-extrabold text-gray-900 text-1xl md:text-2xl lg:text-2xl">
        <span class="text-transparent bg-clip-text bg-gradient-to-r to-blue-500 from-red-500">Dynamic IA</span> Visionary.
    </h1>

    <p class="text-base font-normal text-gray-500 mt-2 text-justify">
        Nuestro modelo Visionary es capaz de categorizar imágenes con una precisión 
        sorprendente. Desde identificar objetos y animales hasta reconocer lugares y escenas,
        Visionary te brinda la capacidad de comprender visualmente el contenido de las imágenes.
    </p>


    <h1 class="mt-5  font-extrabold text-gray-900 text-1xl md:text-2xl lg:text-2xl">
        <span class="text-transparent bg-clip-text bg-gradient-to-r to-yellow-400 from-orange-500">Dynamic IA</span> Lingua.
    </h1>

    <p class="text-base font-normal text-gray-500 mt-2 text-justify">
        Con Lingua, nuestro modelo de clasificación de lenguaje, puedes detectar y clasificar textos
        en diferentes idiomas. Ya sea que necesites identificar el idioma en el que está escrito un texto
        o clasificarlo según su idioma, Lingua es tu solución confiable.
    </p>


    <h1 class="mt-5  font-extrabold text-gray-900 text-1xl md:text-2xl lg:text-2xl">
        <span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-500 from-cyan-500">Dynamic IA</span> EmoSense.
    </h1>

    <p class="text-base font-normal text-gray-500 mt-2 text-justify">
        EmoSense es nuestro modelo especializado en análisis de sentimientos. Puede evaluar si un comentario o texto 
        es positivo o negativo, ayudándote a comprender la opinión y el tono emocional detrás de los mensajes escritos.
    </p>


    <h1 class="mt-5  font-extrabold text-gray-900 text-1xl md:text-2xl lg:text-2xl">
        <span class="text-transparent bg-clip-text bg-gradient-to-r to-pink-500 from-blue-500">Dynamic IA</span> Genderize.
    </h1>

    <p class="text-base font-normal text-gray-500 mt-2 text-justify">
        Con nuestro modelo Genderize, puedes predecir el género asociado a un nombre.
        Ya sea que necesites realizar análisis demográficos o personalizar tu enfoque de marketing, 
        Genderize te proporciona información valiosa basada en nombres.
    </p>


    <button type="button" class="mt-3 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 gilroy-bold">
        Documentacion
    </button>


</div>

