 <!-- Propiedades -->
@page "/"

<!-- Dependencias -->
@inject IJSRuntime JSRuntime
@inject NavigationManager nav


<!-- Estilos -->
<link href="./css/Index.css" rel="stylesheet" />
<style>
    .imgS {
        padding-top: 27%;
    }

    .texto-ss {
        font-size: 2vh;
    }
</style>

@{
    Me = this;
}

<!-- Variables Estaticas -->
@code
{

    /// <summary>
    /// Obtiene si los proyectos ya estan cargados
    /// </summary>
    public static Index Me { get; set; }


    /// <summary>
    /// Obtiene si los proyectos ya estan cargados
    /// </summary>
    public static bool AreProjectLoaded { get; set; }


    /// <summary>
    /// OLista de proyectos
    /// </summary>
    public static List<ProjectDataModel> Proyectos { get; set; } = new();


}


<!-- Cabezeras -->
<NavBar Tablero="true" />










@if (!LIN.Access.Sesion.IsOpen)
{
    <div style="padding: 10px">
        <Alert Message="Debes iniciar sesion para acceder al tablero" Class="error" Svg="2" />
    </div>
    
    return;
}


<!--Mensaje-->
@if (LIN.Access.Developer.Sesion.IsOpen)
{
     <div style="padding: 10px">
    <Alert Message="Tienes acceso a LIN Services" Class="success" />
    </div>
}
else
{

}

<div class="layoutMain">



    @if(LIN.Access.Sesion.Instance.Informacion.Sexo == Sexos.Female)
    {
        <h1 class="gilroy-bold" style="font-size: 35px">Bienvenida a LIN</h1>
    }
    else
    {
        <h1 class="gilroy-bold" style="font-size: 35px">Bienvenido a LIN</h1>
    }

    


    @if (LIN.Access.Developer.Sesion.IsOpen)
    {
        <h5 class="gilroy" style="font-size: 15px">@Saludo(LIN.Access.Sesion.Instance.Informacion.Nombre.Split(" ")[0]), ¿Que quieres hacer hoy?</h5>

        <div class="flex mt-4">

            <MiniButton Src="./img/add.png" HexColor="#475569" OnClick="A" />
            <MiniButton Src="./img/coins.png" HexColor="#22c55e" OnClick="GoToTrans" />
            <MiniButton Src="./img/device.png" HexColor="#f59e0b" OnClick="GoToDevices" />
            <MiniButton Src="./img/shines.png" HexColor="#0ea5e9" OnClick="GoToIA" />
            <MiniButton Src="./img/contactos.png" HexColor="#ec4899" OnClick="GoToSupport" />

        </div>

    }
    else if (LIN.Access.Sesion.IsOpen)
    {
        <h5 class="gilroy mb-8" style="font-size: 15px">@Saludo(LIN.Access.Sesion.Instance.Informacion.Nombre.Split(" ")[0]), Aun no tienes perfil de desarrollador</h5>
    }
    else
    {
        <h5 class="gilroy mt-3 mb-8" style="font-size: 15px; width: 40rem">Empieza hoy a crear soluciones de IA empleando los últimos modelos y tus herramientas favoritas de LIN Services.</h5>
    }





    <div class="flex justify-start items-center gap-3 mt-5">

        <div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded-lg imgS flex-1"></div>
        <div class="bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% rounded-lg imgS flex-1"></div>

    </div>




    @if (LIN.Access.Developer.Sesion.IsOpen)
    {

        // Creditos actuales
        <div class="flex mt-8 credit">

            <CreditsCard Credicts="@LIN.Access.Developer.Sesion.Instance.Informacion.Credito"
                         Name="@LIN.Access.Sesion.Instance.Informacion.Nombre" />

        </div>


        @if (!AreProjectLoaded)
        {
            <div style="box-shadow: rgba(0, 0, 0, 0.02) 0px 4px 12px;" class="flex items-center justify-center mt-7 bg-white h-44 h-20 w-full rounded-lg">
                <CircleLoader />
            </div>
        }
        else
        {
            if (Proyectos.Count == 0)
            {
                <div style="box-shadow: rgba(0, 0, 0, 0.02) 0px 4px 12px;" class="flex items-center justify-center mt-7 bg-white h-44 w-full rounded-lg">
                    <img class="h-6 w-6" src="./img/cactus.png" />
                    <label @onclick="LoadProjects" class="gilroy-bold ml-1">No tienes ningun proyecto</label>
                </div>
            }
            else
            {
                <div style="margin-left: 2px" class="relative sm:rounded-lg mt-5 mb-5">

                    <label @onclick="LoadProjects" style="font-size: 18px;" class="gilroy-bold mb-3 mt-3">Mis proyectos</label>

                    @foreach (var project in Proyectos)
                    {
                        <ProjectComponent OnDelete="LoadProjects" Modelo="project" />
                    }



                </div>
            }
        }


    }
    else
    {


        if (IsDevServerRunnig)
        {
            <div class="bg-gray-50 flex flex-col relative mt-10 mb-10 w-full">
                <div class="w-full mx-auto">
                    <div class="relative group">
                        <div class="absolute -inset-1 bg-gradient-to-r from-indigo-300 to-pink-300 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"></div>
                        <div class="relative px-7 py-6 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6">
                            <svg class="w-8 h-8 text-purple-600" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.75 6.75C6.75 5.64543 7.64543 4.75 8.75 4.75H15.25C16.3546 4.75 17.25 5.64543 17.25 6.75V19.25L12 14.75L6.75 19.25V6.75Z"></path>
                            </svg>
                            <div class="space-y-2 texto-ss">
                                <p class="text-slate-800">
                                    Regístrate ahora y obtén <a class="text-indigo-400 gilroy-bold">500</a>  créditos gratis para disfrutar.
                                </p>
                                <a @onclick="PerfilDev" class="block text-indigo-400 group-hover:text-indigo-800 transition duration-200 cursor-pointer">Registarme →</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            
            <div class="mt-10 mb-10">
                <Alert Message="Actualmente LIN Services no esta respondiendo correctamente." Class="warning" Svg="1" />
            </div>
            
        }





        <div>
            <label class="gilroy-bold">Servicios de LIN</label>


            <div class="flex gap-3 mt-2">

                <MiniCard Text1="LIN" Text2="MAPAS" Src="./img/map.png" />

                <MiniCard Text1="IA" Text2="VISIONARY" Src="./img/telescope.png" />

                <MiniCard Text1="IA" Text2="GENDERIZE" Src="./img/wc.png" />

                <MiniCard Text1="IA" Text2="EMOSENSE" Src="./img/heart.png" />

                <MiniCard Text1="IA" Text2="LINGUA" Src="./img/library.png" />

            </div>



        </div>





    }

</div>


<DrawerProject OnSuccessCreate="OnSucces" />

<ProfileCreateModal OnSuccessCreate="CrearProfileSuccess" />

