@page "/pricing"

<!--Barra de navegacion-->
<NavBar Precios="true" />

@code{

    const decimal VisionPrice = 10m;
    const decimal NamePrice = 2m;
    const decimal MapasPrice = 5m;
    const decimal SentimentPrice = 7m;
    const decimal LangPrice = 1m;

    const int decuento = 15;

}

    <section>

        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Diseñado para todos</h2>
                <p class="mb-5 font-light text-gray-500 sm:text-xl">Precios que se adaptan a tu innovacion, empieza a crear ahora.</p>
            </div>
            <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">


            <div class="p-4 bg-white shadow rounded">

                <div class="flex flex-col">
                    <img class="h-5 w-5 " src="/img/shines.png" />
                    <label class="gilroy-bold mt-2">Plan IA Basic</label>
                    <p class="text-sm">Plan de IA basico para estudiantes o pequeñas aplicaciones.</p>

                    <div class="flex flex-row mt-2 gap-3 items-center">
                        <img class="h-4 w-4 " src="/img/heart.png" />
                        <img class="h-4 w-4 " src="/img/wc.png" />
                        <img class="h-4 w-4 " src="/img/library.png" />
                    </div>

                    <label class="mt-5 mb-2 gilroy-bold text-base text-green-600">$2 <span class="font-sm gilroy text-black">/mes</span></label>
                    <button type="button" class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">Comprar</button>

                </div>
                

            </div>


            <div class="p-4 bg-white shadow rounded">

                <div class="flex flex-col">
                    <img class="h-5 w-5 " src="/img/shines.png" />
                    <label class="gilroy-bold mt-2">Plan Dev Premium</label>
                    <p class="text-sm">Acceso completo a todos los servicios LIN, disfruta de acceso ilimatado a mas de 6 servicios.</p>

                    <div class="flex flex-row mt-2 gap-3 items-center">
                        <img class="h-4 w-4 " src="/img/telescope.png" />
                        <img class="h-4 w-4 " src="/img/heart.png" />
                        <img class="h-4 w-4 " src="/img/wc.png" />
                        <img class="h-4 w-4 " src="/img/library.png" />
                        <img class="h-4 w-4 " src="/img/map.png" />
                        <img class="h-4 w-4 " src="/img/pdf.png" />
                        <img class="h-4 w-4 " src="/img/web.png" />
                    </div>

                    <label class="mt-5 mb-2 gilroy-bold text-base text-green-600">$7 <span class="font-sm gilroy text-black">/mes</span></label>
                    <button type="button" class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">Comprar</button>

                </div>


            </div>


            <div class="p-4 bg-white shadow rounded">

                <div class="flex flex-col">
                    <img class="h-5 w-5 " src="/img/shines.png" />
                    <label class="gilroy-bold mt-2">Plan Profesional</label>
                    <p class="text-sm">Accede a la membrecia de LIN Inventory y otros servicios de trabajo.</p>

                    <div class="flex flex-row mt-2 gap-3 items-center">
                        <img class="h-4 w-4 " src="/img/box.png" />
                        <img class="h-4 w-4 " src="/img/iconoCLoud.png" />
                    </div>

                    <label class="mt-5 mb-2 gilroy-bold text-base text-green-600">$2 <span class="font-sm gilroy text-black">/mes</span></label>
                    <button type="button" class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">Comprar</button>

                </div>


            </div>


            <div class="p-4 bg-white shadow rounded">

                <div class="flex flex-col">
                    <img class="h-5 w-5 " src="/img/shines.png" />
                    <label class="gilroy-bold mt-2">Pago por uso</label>
                    <p class="text-sm">Paga cada servicio individualmente conforme los vallas utilizando</p>

                    <div class="flex flex-row mt-2 gap-3 items-center">
                        <img class="h-4 w-4 " src="/img/heart.png" />
                        <img class="h-4 w-4 " src="/img/wc.png" />
                        <img class="h-4 w-4 " src="/img/library.png" />
                    </div>

                    <label class="mt-5 mb-2 gilroy-bold text-base text-green-600">$? <span class="font-sm gilroy text-black">/mes</span></label>
                    <button type="button" class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">Comprar</button>

                </div>


            </div>


            </div>
        </div>
    </section>




@code{
    /// <summary>
    /// Calcula el precio total al aplicar un descuento
    /// </summary>
    /// <param name="originalPrice">Precio original</param>
    internal decimal Discount(decimal originalPrice)
    {

        return LIN.Modules.Pricing.Discount(originalPrice, decuento);
    }


                            }