@page "/maps/playground"
@inject NavigationManager nav
@inject IJSRuntime JS


<NavBar />

@code{

    private bool IsSending = false;
    private string Value = "";

    private bool IsJson = false;
    private string json = "";
    private Map map;



}



@if(!Access.Developer.Session.IsAccountOpen)
{
    nav.NavigateTo("/login");
    return;
}

@if (!Access.Developer.Session.IsDevOpen)
{
    nav.NavigateTo("/");
    return;
}




<div class="layoutMain">

    <h1 style="font-size: 35px" class="gilroy-bold"><span class="text-transparent bg-clip-text bg-gradient-to-r to-green-500 from-green-500">Mapas</span> Playground</h1>

    <!-- Titulos -->
    <div>

        <div style="padding: 10px;" class="gilroy mt-1">

            <div class="flex flex-row items-center">

                <img src="./img/map.png" style="height: 30px; width: 30px;" />

                <div class="flex flex-col ml-2">

                    <h1 class="gilroy-bold">LIN Maps</h1>

                    <span class="inline-flex items-center bg-green-100 text-green-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded">
                        <span class="w-2 h-2 mr-1 bg-green-500 rounded-full"></span>
                        Experimento
                    </span>

                </div>

                <div @onclick:stopPropagation="true" class="ml-auto flex-shrink-0 justify-center items-center mt-1 mr-2">



                </div>



            </div>

        </div>

    </div>


    <!-- Textarea de IA Names -->
    <div class="mt-5">



        <div class="mx-auto grid max-w-2xl gap-5 grid-cols-1 lg:max-w-none lg:grid-cols-2">

            <div class="h-76 border rounded-lg">
                <Map @ref="map" Latitud="7" Longitud="7" />
            </div>

            <div>



                <div class="flex items-center">
                    <label for="voice-search" class="sr-only">Search</label>
                    <div class="relative w-full">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                           

                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z" />
                            </svg>

                        </div>
                        <input @bind="Value" type="text" id="voice-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-green-500 block w-full pl-10 p-2.5" placeholder="Buscar lugares, ciudades ..." required>

                    </div>
                    <button @onclick="Send" type="submit" class="inline-flex items-center py-2.5 px-3 ml-2 text-sm font-medium text-white bg-green-600 rounded-lg border border-green-600 hover:bg-green-800 focus:ring-2 focus:outline-none focus:ring-green-500">
                        <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>Buscar
                    </button>
                </div>


                <div class="flex flex-col">

                    @if (IsJson)
                    {
                        <div class="w-full bg-gray-200 p-1">
                            <p>@json</p>
                        </div>
                       
                    }
                    else
                    {
                        @foreach (var m in Places)
                        {
                            <Place Model="m" OnClick="click" />
                        }
                    }

                </div>

                @if (IsJson)
                {
                    <label @onclick="()=>IsJson= !IsJson">Ver resultado</label>
                }
                else
                {
                    <label @onclick="()=>IsJson= !IsJson">Ver JSON</label>
                }


            </div>

        </div>

    </div>


    <p class="ml-auto mt-4 text-xs text-gray-500 ">Recuerda, los usos que generes en el playground serán cobrados a tu cuenta, ve a <a href="/transacciones" class="text-green-600 hover:underline">Costos y administración</a>.</p>


</div>

@code {



    List<LIN.Types.Maps.Models.PlaceDataModel> Places = new();

    async void Send()
    {
        var response = await LIN.Access.Maps.Controllers.Search.FindPlaces(Value, 4, "pk.nG1P6Y7lEGTZrsdawGN8T1lsDofolu5UuOZF");

        json = Newtonsoft.Json.JsonConvert.SerializeObject(response);

        Places = response.Models;
        base.StateHasChanged();
    }

    void click(string latitud, string longitud)
    {
        map.Latitud = latitud;
        map.Longitud = longitud;



        map.GoToHome();
    }

}