@inject IJSRuntime JSRuntime;
@inject NavigationManager nav;

@code {


    [Parameter]
    public DeviceModel Modelo { get; set; }

}


<DevicesModal ID="@Modelo.ID" Latitud="@Modelo.Latitud.ToString()" Longitud="@Modelo.Logitud.ToString()" Modelo="Modelo" />


<style>
    .div-shadow {
        box-shadow: rgba(0, 0, 0, 0.03) 0px 6px 24px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        border-radius: 6px;
        background-color: white;
    }

        .div-shadow:hover {
            box-shadow: rgba(63, 131, 248, 0.2) 0px 6px 24px 0px, rgba(63, 131, 248, 0.2) 0px 0px 0px 1px;
        }

</style>




<div @onclick="ShowModal" style="padding: 12px;" class="horizontal gilroy mt-2 div-shadow">

    <div class="flex flex-row items-center">


        @if(Modelo.Platform == Platforms.Windows)
        {
            <img src="./img/windows_logo.png" style="height: 30px; width: 30px;" />
        }
        else if (Modelo.Platform == Platforms.Android)
        {
            <img src="./img/telefono.png" style="height: 30px; width: 30px;" />
        }
        else if (Modelo.Platform == Platforms.Web)
        {
            <img src="./img/web.png" style="height: 30px; width: 30px;" />
        }
        else
        {
            <img src="./img/device.png" style="height: 30px; width: 30px;" />
        }




        <div class="flex flex-col ml-2">

            <h1 style="margin-top: -1px;" class="gilroy-bold">@Modelo.Name</h1>


            @if (Modelo.App == Applications.Inventory)
            {
                <h4 style="margin-top: -5px; font-size: 11px;">LIN Inventario</h4>
            }
            else if (Modelo.App == Applications.Admin)
            {
                <h4 style="margin-top: -5px; font-size: 11px;">Administración de LIN</h4>
            }
            else if (Modelo.App == Applications.CloudConsole)
            {
                <h4 style="margin-top: -5px; font-size: 11px;">LIN Cloud Console</h4>
            }

        </div>

        <div @onclick:stopPropagation="true" class="ml-auto flex justify-center items-center mr-2">

        </div>



    </div>

</div>











@code
{

    async void ShowModal()
    {

        await JSRuntime.InvokeVoidAsync("ShowModal", $"MapaModal-{Modelo.ID}", $"aut-close-{Modelo.ID}");

    }



}

