
@code
{
    [Parameter]
    public string Title { get; set; } = "";
    [Parameter]
    public string Descrip { get; set; } = "";
    [Parameter]
    public string Img { get; set; } = "/icono.png";
}

<style>
    .box
    {
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 8px;
        height: 230px !important;
        width: 230px !important;
        margin-right: 10px;
        margin-top: 10px;
    }

    .img
    {
        height: 40px;
        width: 40px;
    }

</style>


<div class="box flex flex-col items-center justify-center">

    <img class="img" src="@Img" />
    <label class="gilroy-bold">@Title</label>
    <label class="ml-5 mr-5 text-justify" style="font-size: 12px; color: dimgrey">@Descrip</label>

</div>