@inject NavigationManager nav

@code{

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Url { get; set; } = "./icono.png";

    [Parameter]
    public string GoTo { get; set; } = "";

    [Parameter]
    public bool ShowExp { get; set; } = false;

    
    [Parameter]
    public bool ShowFree { get; set; } = false;


}


<div @onclick="()=>nav.NavigateTo(GoTo)" class="flex flex-col bg-gray-100 rounded-md w-full p-3 shadow-md hover:shadow-slate-300 hover:shadow-lg">
    <div class="flex flex-row gap-3">
        <img class="h-6 w-6" src="@Url" />
        <h4>@Name</h4>

        @if (ShowExp)
        {
            <span class="inline-flex items-center bg-blue-100 text-blue-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded">
                <span class="w-2 h-2 mr-1 bg-blue-500 rounded-full"></span>
                Experimento
            </span>
        }

        @if (ShowFree)
        {
            <span class="inline-flex items-center bg-green-100 text-green-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded">
                <span class="w-2 h-2 mr-1 bg-green-500 rounded-full"></span>
                Gratis
            </span>
        }
      
    </div>
</div>