@code{

    [Parameter]
    public string Text { get; set; }


}

<div class="relative flex py-2 items-center">
    <div class="flex-grow border-t border-gray-400"></div>
    <span class="flex-shrink mx-4 text-gray-400">@Text</span>
    <div class="flex-grow border-t border-gray-400"></div>
</div>