
@* Control *@
<div class="flex py-3 px-5 select-none items-center fade-in transition-transform animate-pulse">

    <div class="flex w-full items-center">

        @* Foto de perfil. *@
        <div class="relative inline-block">
            <div class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-200 p-2 font-bold text-zinc-600 leading-none  dark:bg-zinc-800 dark:text-zinc-200">
                <label class="w-max h-max text-center content-center mt-0.5 lg:mt-0"></label>
            </div>

        </div>

        @* Texto oculto. *@
        <div class="flex flex-col ml-3">

            <label class="text-base font-bold bg-gray-200 dark:bg-zinc-800 h-3 w-36 rounded-lg"></label>

            <div class="flex">
                <label class="text-xs mt-1 bg-gray-100 dark:bg-zinc-900 h-2 w-20 rounded-lg"></label>
            </div>

        </div>

    </div>

</div>