<div class="mt-2 flex animate-pulse rounded bg-white p-4 ring-2 ring-gray-100 dark:bg-zinc-950 dark:ring-gray-800">
    <div class="flex items-center justify-center">
        <div class="h-5 w-5 rounded-full bg-gray-200 dark:bg-zinc-600"></div>
        <div class="ml-2 h-4 w-28 rounded bg-gray-200 dark:bg-zinc-600"></div>
    </div>
</div>