@inject IJSRuntime js


@* Componente *@
<div id="drawerEmma-@UniqueId"
     class="fixed top-0 right-0 z-40 h-dvh max-h-dvh transition-transform translate-x-full min-w-80 w-80 backdrop-blur-md bg-white/50 dark:bg-zinc-800/70"
     tabindex="-1" aria-labelledby="drawer-right-label">

    <LIN.Emma.UI.Emma @ref="DocEmma" />

</div>