@inject IJSRuntime js


@* Componente *@
<div id="drawerEmma-@UniqueId" class="fixed top-0 right-0 z-40 h-screen max-h-dvh p-4 overflow-y-auto transition-transform translate-x-full min-w-80 w-80 backdrop-blur-xl bg-white/50 dark:bg-shark-500/50" tabindex="-1" aria-labelledby="drawer-right-label">

    <div class="h-full flex flex-col justify-between">

        @* Descripción de la sección *@
        <div class="flex flex-col justify-center items-center w-full mt-10">

            <img src="./img/arroba.png" class="h-14 w-14">

            <label class="text-2xl mt-2 font-bold">Emma</label>
            <label class="flex items-center text-gray-600 text-xs mt-1 dark:text-shark-300">Con tecnología GPT</label>

        </div>

        @* Información *@
        <div class="border-2 border-gray-500  rounded-lg p-5 w-full">
            @if (ActualState == State.Witting)
            {
                <p class="text-justify">@EmmaResponse</p>
            }
            else
            {
                <div class="flex justify-center items-center">
                    <LIN.Allo.App.Components.Shared.CircleLoader></LIN.Allo.App.Components.Shared.CircleLoader>
                </div>
            }
        </div>

        @*Entrada*@
        <div class=" w-full h-10 justify-end items-end mb-3">

            <div>
                <div class="relative">

                    @* Input del usuario *@
                    <input @bind="Prompt" type="search" id="search" class="block w-full p-4 pl-5 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:outline-none focus:ring-current-600 focus:border-current-600 dark:bg-shark-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-current-500 dark:focus:border-current-500" placeholder="Preguntar a Emma" required>

                    @* Botón de enviar *@
                    @if (ActualState == State.Witting)
                    {
                        <button @onclick="ToEmma" type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-current-600 hover:bg-current-800 focus:ring-4 focus:outline-none focus:ring-current-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-current-600 dark:hover:bg-current-700 dark:focus:ring-current-800">Enviar</button>
                    }

                </div>
            </div>

        </div>

    </div>

</div>
