@inject IJSRuntime jsRuntime


@* Componente *@
<div id="drawer-@UniqueId" class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full min-w-80 w-80 backdrop-blur-xl bg-white/50 dark:bg-shark-500/50">

    @*Información *@
    <div class="flex items-center justify-center w-full">

        @* Nombre *@
        <h5 class="self-center text-xl font-bold dark:text-shark-200">
            @Name
        </h5>

        @*Botón cerrar*@
        <button id="close-drawer-@UniqueId" type="button" data-drawer-hide="drawer-right-example" aria-controls="drawer-right-example" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 right-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3 fill-black dark:fill-shark-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close menu</span>
        </button>

    </div>

    @* Titulo de integrantes *@
    <div class="flex items-center justify-center w-full">
        <label class="text-xs text-gray-500 dark:text-shark-400">Integrantes</label>
    </div>

    @*Botones de acción*@
    <div class="flex justify-center items-center mt-2 gap-2">
        @if (ConversationContext?.Type != Types.Communication.Enumerations.ConversationsTypes.Personal)
        {
            <img @onclick="ShowAdd" class="h-5 w-5 hover:opacity-25" src="./plus.png" />
        }
        <img class="h-5 w-5 hover:opacity-25" src="./trash-bin.png" />

        @if (ConversationContext?.Type != Types.Communication.Enumerations.ConversationsTypes.Personal)
        {
            <img class="h-5 w-5 hover:opacity-25" src="./write.png" />
        }
    </div>


    @* Invitados *@
    @if (IsShowAdd)
    {
        <div class="mt-4">

            <div class="mb-4">
                <label for="guests" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Invitados</label>
                <div class="relative">
                    <input @bind="Pattern" type="search" id="guests" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-current-500 p-2.5 focus:border-current-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-current-500 dark:focus:border-current-500" placeholder="Agregar usuario" required>
                    <button @onclick="Search" type="button" class="absolute inline-flex items-center px-3 py-1 text-sm font-medium text-white bg-current-700 rounded-lg right-2 bottom-2 hover:bg-current-800 focus:ring-4 focus:outline-none focus:ring-current-300 dark:bg-current-600 dark:hover:bg-current-700 dark:focus:ring-current-800">
                        <svg class="w-3 h-3 mr-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                            <path d="M6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Zm11-3h-2V5a1 1 0 0 0-2 0v2h-2a1 1 0 1 0 0 2h2v2a1 1 0 0 0 2 0V9h2a1 1 0 1 0 0-2Z" />
                        </svg>Buscar
                    </button>
                </div>
            </div>

            <div class="flex flex-col gap-2 justify-center">

                @foreach (var e in NewMembers)
                {

                        <Profile e="@e" @ref=SearchResultControl OnSelect="OnSelect" State="2" />
                }

                

                @foreach (var e in SearchResult ?? new List<SessionModel<ProfileModel>>())
                {

                    var x = !MemberModels.Where(T => T.Account.Id == e.Account.Id).Any();
                    var find = NewMembers.Where(t => t.Profile.ID == e.Profile.ID).Any();

                    if (!find && x && Access.Communication.Session.Instance.Profile.AccountID != e.Account.Id)
                    {

                        <Profile e="@e" @ref=SearchResultControl OnSelect="OnSelect" />
                    }
                }

                @if(NewMembers.Count >0)
                {
                    <button @onclick="Insert" type="button" class="text-white bg-current-700 hover:bg-current-800 focus:ring-4 focus:ring-current-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-current-600 dark:hover:bg-current-700 focus:outline-none dark:focus:ring-current-800 w-full">Agregar</button>
                  
                    <label class="w-full text-center font-bold mt-3">Integrantes actuales</label>
                }

            </div>
        </div>

    }
  


    @*Renderizado de controles*@
    <div class="mt-5">
        @foreach (var e in MemberModels ?? new List<SessionModel<MemberChatModel>>())
        {
            <Member e="@e" @ref=MemberControl />
        }
    </div>

</div>