@inject IJSRuntime js


@* drawer component *@
<div id="drawerIG-@UniqueId" class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full min-w-80 w-80 backdrop-blur-xl bg-white/50 dark:bg-shark-500/50" tabindex="-1" aria-labelledby="drawer-right-label">


    @* Estado Creando. *@
    @if (ActualState == State.Creating)
    {
        <div class="flex flex-col justify-center items-center h-full">
            <BubbleLoader />
            <label class="text-gray-600">Creando</label>
        </div>
    }

    // Estado correcto.
    else if (ActualState == State.Success)
    {
        <div class="flex flex-col justify-center items-center h-full">
            <img class="h-10 w-10" src="./success.png" />
            <label class="text-gray-600 font-bold text-lg">Creado con éxito</label>
            <label @onclick="Click" class="text-gray-600 text-sm -mt-1">Crear nueva <span class="text-green-500 hover:font-bold">Conversación</span></label>
        </div>
    }

    // Estado fallido.
    else if (ActualState == State.Failure)
    {
        <div class="flex flex-col justify-center items-center h-full">
            <img class="h-10 w-10" src="./error.png" />
            <label class="text-gray-600 font-bold text-lg">Error al crear</label>
            <label @onclick="Click" class="text-gray-600 text-sm -mt-1">Intentar de nuevo crear una <span class="text-red-500 hover:font-bold">Conversación</span></label>
        </div>
    }

    // Estado de entrada.
    else
    {

        @* Titulo *@
        <h5 id="drawer-label" class="inline-flex items-center justify-center mb-6 text-base font-bold text-gray-500 dark:text-gray-400">
            Nueva conversación
        </h5>

        @* Botón cerrar *@
        <button id="close-drawerIG-@UniqueId" type="button" data-drawer-hide="drawer-form" aria-controls="drawer-form" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 right-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close menu</span>
        </button>


        @* Información *@
        <div class="mb-6">

            @* Nombre *@
            <div class="relative mb-5">
                <div class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M5 2a.5.5 0 0 1 .5-.5c.862 0 1.573.287 2.06.566.174.099.321.198.44.286.119-.088.266-.187.44-.286A4.17 4.17 0 0 1 10.5 1.5a.5.5 0 0 1 0 1c-.638 0-1.177.213-1.564.434a3.5 3.5 0 0 0-.436.294V7.5H9a.5.5 0 0 1 0 1h-.5v4.272c.1.08.248.187.436.294.387.221.926.434 1.564.434a.5.5 0 0 1 0 1 4.17 4.17 0 0 1-2.06-.566A5 5 0 0 1 8 13.65a5 5 0 0 1-.44.285 4.17 4.17 0 0 1-2.06.566.5.5 0 0 1 0-1c.638 0 1.177-.213 1.564-.434.188-.107.335-.214.436-.294V8.5H7a.5.5 0 0 1 0-1h.5V3.228a3.5 3.5 0 0 0-.436-.294A3.17 3.17 0 0 0 5.5 2.5.5.5 0 0 1 5 2m2.648 10.645" />
                    </svg>
                </div>
                <input @bind="Name" type="text" id="zip-input" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-current-600 block w-full ps-10 p-2.5 focus:outline-none  dark:bg-shark-950 dark:border-zinc-700 dark:placeholder-gray-400 dark:text-white dark:focus:border-current-600" placeholder="Nombre la conversación" required>
            </div>


            <div class="relative">
                <div class="relative">
                    <input @bind="Pattern" type="text" id="zip-input" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-current-600 block w-full p-2.5 focus:outline-none  dark:bg-shark-950 dark:border-zinc-700 dark:placeholder-gray-400 dark:text-white dark:focus:border-current-600" placeholder="Buscar usuarios" required>

                    <button @onclick="Search" type="button" class="absolute inline-flex items-center px-3 py-1 text-sm font-medium text-white bg-current-600 rounded-lg right-2 bottom-2 hover:bg-current-800 focus:ring-4 focus:outline-none focus:ring-current-300 dark:bg-current-600 dark:hover:bg-current-700 dark:focus:ring-current-800">
                        <svg class="w-3 h-3 mr-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>Buscar
                    </button>
                </div>
            </div>







            @* Imágenes *@
            <div class="flex mb-4 -space-x-4 mt-5">

                @if (SelectedItems.Count <= 0)
                {
                    <div class="flex rounded-lg justify-center items-center border-dashed border-2 border-gray-800 w-full py-7 dark:border-shark-300">
                        <label class="text-gray-700 dark:text-shark-300">Sin integrantes</label>
                    </div>
                }
                else
                {
                    foreach (var e in SelectedItems ?? new List<SessionModel<ProfileModel>>())
                    {
                        <LIN.Allo.Client.Pops.PopUser Modelo="e" OnDelete="OnRemove" />
                    }
                }


            </div>

            @* Botón crear *@
            <button @onclick="Crear" type="submit" class="text-white justify-center flex items-center bg-current-600 hover:bg-current-800 w-full focus:ring-4 focus:ring-current-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2  focus:outline-none">
                Crear
            </button>

        </div>


        @* Resultados de búsqueda *@
        <div class="@(AreSearch ? "" : "opacity-0")">

            @* Esta cargando *@
            @if (IsSearching)
            {
                <div class="flex justify-center items-center">
                    <BubbleLoader />
                </div>
            }

            // Lista de usuarios encontrados.
            else
            {

                // No hay usuarios.
                if ((MemberModels ?? new List<SessionModel<ProfileModel>>()).Count <= 0)
                {
                    <div class="flex rounded justify-center items-center border-dashed border-2 border-gray-800 w-full p-3">
                        <label class="text-gray-700">No se encontraron usuarios</label>
                    </div>
                }
             
                // Usuarios encontrados.
                else
                {
                    <div class="flex flex-col gap-2">

                        @foreach (var e in MemberModels ?? new List<SessionModel<ProfileModel>>())
                        {
                            if (!SelectedItems.Where(T => T.Profile.ID == e.Profile.ID).Any() && Access.Communication.Session.Instance.Profile.AccountID != e.Account.Id)
                            {
                                <Profile OnSelect="OnSelect" e="@e" @ref=MemberControl />
                            }
                        }
                    </div>
                }
            }
        </div>
    }

</div>