<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <title>Allo</title>
    <base href="/" />

    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/tailwind.css" />
    <link rel="stylesheet" href="css/somee.css" />
    <link rel="stylesheet" href="css/tailwindUtilities.css" />
    <link rel="stylesheet" href="LIN.Allo.styles.css" />
    <link rel="icon" type="image/svg" href="favicon.svg" />
    <HeadOutlet />
</head>

<body class="bg-li select-none dark:bg-black">

    <Routes />
    <script src="_framework/blazor.web.js"></script>


    <script src="./js/flowbite.js"></script>
    <script src="./js/flowbite.min.js"></script>
    <script src="./js/main.js"></script>

</body>

</html>