<!DOCTYPE html>
<html lang="es">

<head>


    <!-- UTF -->
    <meta charset="utf-8" />

    <!-- Propiedades -->
    <title>LIN Allo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <!-- CSS -->
    <link href="./css/site.css" rel="stylesheet" />
    <link href="./css/Tailwind/Alerts.css" rel="stylesheet" type="text/css" />
    <link href="./css/Flowbyte.min.css" rel="stylesheet" />
    <link href="LIN.Allo.Client.styles.css" rel="stylesheet">
    <link href="./css/Tailwind.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="LIN.Allo.styles.css" />
    <HeadOutlet />
</head>

<body class="light:body-light dark:body-dark">

    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <script src="./js/Flowbite.js"></script>
    <script src="./js/index.js"></script>
    <script src="./js/Voice.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>

</body>

</html>