@page "/api/auth"

<NavBar Acerca="true" />

<div class="layoutMain">

    <h1 class="mb-6 text-3xl font-extrabold text-gray-900 md:text-5xl lg:text-6xl">
       LIN <span class="text-blue-600">Identity</span>.
    </h1>

    <p class="text-sm font-normal text-gray-500 lg:text-xl text-justify">
        Asegura la integridad y seguridad de tus aplicaciones y datos desde el mismo
        umbral de entrada mediante las avanzadas y confiables soluciones de autenticación
        proporcionadas por LIN. Despídete de las preocupaciones relacionadas con los
        intentos de acceso no autorizados, ya que estas soluciones están diseñadas para
        contrarrestar de manera efectiva y contundente cualquier intento malicioso de inicio de sesión.
    </p>

    

    <div class="flex items-center justify-center w-full mt-10">
        <img class="h-52 w-52 self-center" src="./img/people.svg" />
    </div>

    <h1 class="mt-2 text-xl font-extrabold text-gray-900 md:text-2xl lg:text-3xl text-center">
        Organizaciones
    </h1>

    <p class="text-base font-normal text-gray-500 lg:text-base text-justify mt-2">
        Las organizaciones en LIN Identity permiten estructurar y gestionar el acceso a recursos
        y aplicaciones para usuarios autenticados. Proporcionan una forma de administrar y limitar
        quiénes pueden acceder a ciertos recursos dentro del sistema LIN, brindando un control preciso
        sobre los permisos y la seguridad de los datos de tu negocio.
    </p>


    <div class="mt-5 grid grid-cols-1 lg:grid-cols-2 gap-3">

        <div class="flex flex-col w-full p-4 border-2 border-blue-500 rounded-lg h-24 justify-center items-center">
            <label class="gilroy-bold text-blue-600">Control de apps</label>
            <label class="text-sm text-center">Controla a que aplicaciones tienen acceso tus compañeros o empleados.</label>
        </div>

        <div class="flex flex-col w-full p-4 border-2 border-blue-500 rounded-lg h-24 justify-center items-center">
            <label class="gilroy-bold text-blue-600">Gestion de licencias</label>
            <label class="text-sm text-center">Gestiona las licencias de las aplicaciones productivas en tu organización.</label>
        </div>

    </div>




    <div class="flex items-center justify-center w-full mt-10">
        <img class="h-52 w-52 self-center" src="./img/code.svg" />
    </div>


    <h1 class="mt-2 text-xl font-extrabold text-gray-900 md:text-2xl lg:text-3xl text-center">
        Aplicaciones
    </h1>

    <p class="text-base font-normal text-gray-500 lg:text-base text-justify mt-2">
        LIN Identity ofrece una solución eficiente para gestionar la autenticación
        y autorización de usuarios en aplicaciones y proyectos. Al utilizar LIN Identity,
        puedes integrar fácilmente un sistema de cuentas en tus aplicaciones, lo que simplifica
        el proceso de inicio de sesión para los usuarios.
    </p>


    <div class="mt-5 grid grid-cols-1 lg:grid-cols-2 gap-3">

        <div class="flex flex-col w-full p-4 border-2 border-slate-700 rounded-lg h-24 justify-center items-center">
            <label class="gilroy-bold text-slate-700">Experiencia de Usuario Mejorada</label>
            <label class="text-sm text-center">Unifica el acceso en aplicaciones conectadas y mejora la experiencia.</label>
        </div>

        <div class="flex flex-col w-full p-4 border-2 border-slate-700 rounded-lg h-24 justify-center items-center">
            <label class="gilroy-bold text-slate-700">Escalabilidad y Flexibilidad</label>
            <label class="text-sm text-center">Diseñado para escalabilidad, crece con tus necesidades y adaptabilidad.</label>
        </div>

    </div>



    <div class="rounded-lg border-2 border-gray-300 p-5 mt-10">

   
















    <div class="flex items-center justify-center w-full">
        <img class="h-36 w-36 self-center" src="./img/completed.svg" />
    </div>

    <h1 class="mt-9 text-2xl font-extrabold text-gray-900 md:text-3xl lg:text-4xl text-center">
        Tu experiencia de LIN comienza aquí
    </h1>

    <div class="flex items-center justify-center flex-row mt-4">

        <button type="button" class="w-48 text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none">Ir a tu cuenta</button>

        <button type="button" class="w-48 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Crear cuenta LIN</button>
    
    </div>

       
    </div>


</div>