@page "/documentacion/genderize"

<NavBar Documentacion="true" />

<div class="layoutMain">

    <h1 class="mb-6 text-3xl font-extrabold text-gray-900 md:text-5xl lg:text-6xl">
        <span class="text-transparent bg-clip-text bg-gradient-to-r to-pink-500 from-blue-500">Dynamic IA</span> Genderize.
    </h1>

    <p class="text-xl font-normal text-gray-500 lg:text-xl text-justify">
        Bienvenido a Genderize, el modelo de Dynamic IA que te permite explorar y comprender la diversidad de
        identidades de género en diversos contextos. Utilizando una amplia gama de datos, Genderize va más allá
        de los nombres para proporcionarte información valiosa sobre el género asociado a los nombres en diferentes
        culturas y regiones. Ya sea que estés desarrollando aplicaciones inclusivas, realizando investigaciones
        socioculturales o simplemente deseas comprender mejor la diversidad humana, Genderize es tu herramienta
        confiable. Descubre nuevas perspectivas, promueve la inclusión y desafía los estereotipos de género con
        Genderize. ¡Amplía tus horizontes y abraza la diversidad con Genderize!
    </p>

    <h5 class="mt-7 text-2xl font-extrabold text-gray-900 md:text-3xl lg:text-3xl">
         Documentacion.
    </h5>



</div>