@code {


    [Parameter]
    public EventCallback<string> OnYes { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnNot { get; set; }

    [Parameter]
    [Required]
    public string Key { get; set; } = "";

    [Parameter]
    [Required]
    public string Message { get; set; } = "";


    public string Usuario = "";

}



<div id="ask-delete-modal2-@Key" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow">
            <button id="ask2-close-btn-@Key" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="flex flex-col p-6 text-center">
                <svg aria-hidden="true" class="mx-auto mb-4 text-gray-400 w-14 h-14" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                
                <div class="px-5">
                    <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900">@Message</label>
                    <input @bind="Usuario" type="password" placeholder="Ingresa tu contraseña" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                </div>

                <div class="flex flex-row mt-5 px-5">

                    <button @onclick="()=>OnYes.InvokeAsync(Usuario)" id="ask2-close-btn2-@Key" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm inline-flex justify-center items-center px-5 py-2.5 text-center mr-2 flex-grow">
                        Si, estoy seguro
                    </button>
                    <button @onclick="OnNot" id="ask2-close-btn3-@Key" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 flex-grow">No, cancelar</button>

                </div>

            </div>
        </div>
    </div>
</div>


