@inject IJSRuntime JS


@code {



    [Parameter]
    public EventCallback<MouseEventArgs> OnSuccessCreate { get; set; }



    private string OldPassword = "";

    private string NewPassword = "";

    private string NewPasswordRepit = "";


}



<div id="changepass-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">

        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <button id="auto1-close" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="authentication-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 gilroy-bold">Cambiar la contraseña</h3>
                <div class="space-y-6">


                    <div>

                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900">Antigua contraseña</label>
                            <input @bind="OldPassword" type="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Antigua contraseña" required>
                        </div>

                        <div>
                            <label class="mt-2 block mb-2 text-sm font-medium text-gray-900">Nueva Contraseña</label>
                            <input @bind="NewPassword" type="password" placeholder="Nueva contraseña" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                        </div>

                        <div>
                            <label class="mt-2 block mb-2 text-sm font-medium text-gray-900">Repite la nueva contraseña</label>
                            <input @bind="NewPasswordRepit" type="password" placeholder="Repite la nueva contraseña" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                        </div>

                    </div>


                    <button id="btn-close-pass" @onclick="Change" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Cambiar contraseña</button>


                </div>
            </div>
        </div>
    </div>
</div>


@code {


    async void Change()
    {
        // Validadar las contraseñas
        if (OldPassword.Length < 4 || NewPassword.Length < 4 || NewPasswordRepit.Length < 4)
        {
            ModalError.Show("Completa los campos requeridos");
            return;
        }

        if (NewPassword != NewPasswordRepit)
        {
            ModalError.Show("Las contraseñas no coinciden");
            return;
        }


        var modelo = new UpdatePasswordModel
            {
                Account = LIN.Access.Sesion.Instance.Informacion.ID,
                NewPassword = NewPassword,
                OldPassword = OldPassword
            };


        var response = await LIN.Access.Controllers.User.UpdatePassword(modelo);


        if (response.Response != Responses.Success)
        {
            ModalError.Show("No se pudo cambiar la contraseña");
            return;
        }

        NewPassword = "";
        OldPassword = "";
        NewPasswordRepit = "";

    }

}