

<div class="layoutMain h-full">


    <h1 style="font-size: 35px" class="gilroy-bold">Chat</h1>



    <div class="flex flex-col w-96 bg-gray-100">

        <div class="chat chat-start">
            <div class="chat-bubble">It's over Anakin</div>
        </div>

        <div class="chat chat-end">
            <div class="chat-bubble">You underestimate my power!</div>
        </div>

    </div>



</div>