@code {


    /// <summary>
    /// Iam
    /// </summary>
    [Parameter]
    public MemberChatModel Iam { get; set; } = new();


    /// <summary>
    /// Hub de conexión
    /// </summary>
    [Parameter]
    public LIN.Access.Communication.Hubs.ChatHub Hub { get; set; }





    /// <summary>
    /// Mensaje a enviar
    /// </summary>
    private string Message { get; set; } = "";



    /// <summary>
    /// Enviar un mensaje
    /// </summary>
    private void SendMessage()
    {
        Hub?.SendMessage(Iam.Profile.ID, Iam.Conversation.ID.ToString(), Message);
        Message = "";
        StateHasChanged();
    }


    public void Render()
    {
        base.StateHasChanged();
    }



    protected override void OnAfterRender(bool firstRender)
    {
    }

}

<div class="h-full w-full">



    <div class="flex flex-col w-96 bg-gray-100">

        @(Iam.Conversation.Name)

        @foreach (var message in Iam.Conversation.Mensajes)
        {
            if (message.Remitente.ID == Iam.Profile.ID)
            {
                <div class="chat chat-end">
                    <div class="chat-bubble">
                        <div class="flex flex-col">
                            <label class="text-sm">@message.Contenido</label>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="chat chat-start">
                    <div class="chat-bubble">
                        <div class="flex flex-col">
                            <label style="font-size: 8px">@message.Remitente.Alias</label>
                            <label class="text-sm">@message.Contenido</label>
                        </div>
                    </div>
                </div>
            }

        }

    </div>


    <input @bind="Message" placeholder="message" />
    <button @onclick="SendMessage">Enviar</button>


</div>