@page "/verificate/{User}/{Email}/{Key}"
@inject NavigationManager nav

@code {

    [Parameter]
    public string Key { get; set; }

    [Parameter]
    public string Email { get; set; }

    [Parameter]
    public string User { get; set; }


    public int Seccion = 0;

    string Mail = "";
    string UserName = "";

    protected override async void OnParametersSet()
    {
        // EMAIL

        byte[] bytes = Convert.FromBase64String(Email);
        Mail = System.Text.Encoding.UTF8.GetString(bytes);

        bytes = Convert.FromBase64String(User);
        UserName = System.Text.Encoding.UTF8.GetString(bytes);

        Seccion = 3;
        base.OnParametersSet();
    }

    async void Aceptar()
    {
        Seccion = 0;
        base.StateHasChanged();

        var res = await LIN.Access.Auth.Controllers.Account.Verficate(Key);

        Seccion = (res.Response == Responses.Success) ? 1 : 2;

        base.StateHasChanged();
    }

}



<div class="flex justify-center items-center w-full h-screen">


    <LINAccountCard Titulo="Verificar correo">

        @if (Seccion == 0)
        {
            <div class="flex justify-center items-center flex-col">
              <CircleLoader />
            </div>
        }

        else if (Seccion == 1)
        {
            <div class="flex justify-center items-center flex-col">
                <img class="h-4 w-4" src="./img/check.png" />
                <label style="margin-top: 4px;" class="text-xs">Verificado con exito.</label>
            </div>
        }

        else if (Seccion == 2)
        {
            <div class="flex justify-center items-center flex-col">
                <img class="h-4 w-4" src="./img/ban.png" />
                <label style="margin-top: 4px;" class="text-xs">El enlace es invalido o ya caduco.</label>
            </div>
        }


        else if (Seccion == 3)
        {
            <div class="flex justify-center items-center flex-col">
                <label class="text-sm text-gray-700">¿Quiere agregar el correo <span class="text-blue-500 hover:text-blue-700">@Mail</span>  a tu cuenta <span class="text-slate-800">@@@UserName</span> </label>

                <div class="flex justify-between w-full gap-2 mt-4">
                    <button type="button" class="px-3 py-2 text-xs font-medium text-center text-white bg-red-500 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 flex-grow">
                        Cancelar
                    </button>
                    <button @onclick="Aceptar" type="button" class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 flex-grow">
                        Aceptar
                    </button>
                </div>
            </div>
        }
        
    </LINAccountCard>


</div>






