@inject NavigationManager navigationManager

@code{



    /// <summary>
    /// Imagen de perfil en base64
    /// </summary>
    private string Img64 => Convert.ToBase64String(Access.Communication.Session.Instance.Account.Perfil);



    private void Close()
    {
        navigationManager.NavigateTo("/logout");
    }

}


<div class="z-50 hidden w-60 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow my-10" id="user-dropdown">

    <div class="px-4 py-3 flex flex-col justify-center items-center">


        <button type="button" class="flex mr-3 mt-1 text-sm rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300" id="user-menu-button">
            <span class="sr-only">Open</span>
            <img class="w-12 h-12 p-1 rounded-full ring-2 ring-gray-300" src="data:image/png;base64,@Img64">
        </button>


        <div class="flex flex-row items-center mt-1">
            <span class="block text-sm text-gray-900">Hola, @Access.Communication.Session.Instance.Account.Nombre</span>
        </div>

        <div class="flex flex-row items-center">

            <span class="block text-sm text-gray-500 truncate">@@@(Access.Communication.Session.Instance.Account.Usuario)</span>

            @if (Access.Communication.Session.Instance.Account.Insignia == AccountBadges.Verified)
            {
                <img class="ml-1 self-center" src="./img/verificado.png" style="width: 10px !important; height: 10px !important"/>
            }
            else if (Access.Communication.Session.Instance.Account.Insignia == AccountBadges.VerifiedGold)
            {
                <img class="ml-1 self-center" src="./img/verificadogold.png" style="width: 10px !important; height: 10px !important"/>
            }

        </div>


        @if (Access.Communication.Session.Instance.Account.Rol != AccountRoles.Undefined)
        {
            <div class="h-6 bg-blue-600 rounded-xl flex items-center justify-center hover:bg-blue-300 mt-2">

                @if (Access.Communication.Session.Instance.Account.Rol == AccountRoles.User)
                {
                    <label class="text-xs text-white pl-3 pr-3">Usuario</label>
                }
                else if (Access.Communication.Session.Instance.Account.Rol == AccountRoles.Admin)
                {
                    <label class="text-xs text-white pl-3 pr-3">Administrador</label>
                }

            </div>
        }


    </div>


    <div class="px-4 py-3 flex flex-row justify-center items-center">

        <button class="bg-transparent h-7 w-7 rounded-lg hover:bg-gray-100 p-1 hover:p-2">
            <img src="img/Products/chat.png"/>
        </button>

        @if (Access.Communication.Session.Instance.Account.OrganizationAccess != null)
        {
            <button class="bg-transparent h-7 w-7 rounded-lg hover:bg-gray-100 p-1 hover:p-2">
                <img src="img/Products/empresa.png"/>
            </button>
        }

        <button class="bg-transparent h-7 w-7 rounded-lg hover:bg-gray-100 p-1 hover:p-2">
            <img src="img/map.png"/>
        </button>

        <button class="bg-transparent h-7 w-7 rounded-lg hover:bg-gray-100 p-1 hover:p-2">
            <img src="img/cloud.png"/>
        </button>

        <button class="bg-transparent h-7 w-7 rounded-lg hover:bg-gray-100 p-1 hover:p-2">
            <img src="img/box.png"/>
        </button>

        <button class="bg-transparent h-7 w-7 rounded-lg hover:bg-gray-100 p-1 hover:p-2">
            <img src="img/products/calendar.png"/>
        </button>

        <button class="bg-transparent h-7 w-7 rounded-lg hover:bg-gray-100 p-1 hover:p-2">
            <img src="img/contactos.png"/>
        </button>

    </div>

    <ul class="py-2" aria-labelledby="user-menu-button">
        <li>
            <a href="/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Tablero</a>
        </li>
        <li>
            <a href="/settings" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Configuración</a>
        </li>

        <li @onclick="Close">
            <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Cerrar sesión</a>
        </li>

    </ul>
</div>