@inject IJSRuntime js

@code{

    [Parameter]
    public int ID { get; set; }


    [Parameter]
    public string Name { get; set; }

    private List<MemberChatModel> Members { get; set; }




    public async void Show()
    {
        var ss = ID;
        await js.InvokeAsync<object>("ShowDrawer", $"drawer-{ID}", $"close-drawer-{ID}");
        base.StateHasChanged();
    }


    protected override async Task OnParametersSetAsync()
    {
        var result = await LIN.Access.Communication.Controllers.Conversations.Members(ID);

        Members = result.Models;
        base.StateHasChanged();
        await base.OnParametersSetAsync();
    }


}



<!-- drawer component -->
<div id="drawer-@ID" class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
    <h5 id="drawer-right-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
        <svg class="h-4 w-4 mr-2 fill-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
        </svg>@Name
    </h5>

    <button id="close-drawer-@ID" type="button" data-drawer-hide="drawer-right-example" aria-controls="drawer-right-example" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 right-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close menu</span>
    </button>

    
    <div>
        @foreach (var e in Members ?? new List<MemberChatModel>())
        {
            <div class="flex shadow hover:shadow-indigo-200 bg-white rounded-lg w-full mt-3">
                <div class="flex flex-col p-3 w-full ml-2">
                    <label class="text-sm font-bold">@e.Profile.Alias</label>
                    <label class="text-xs">Integrante</label>
                </div>
                @if (e.Rol == Types.Communication.Enumerations.MemberRoles.Admin)
                {
                    <div class="flex justify-end items-center mr-3">
                    <span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
                        <span class="w-2 h-2 mr-1 bg-green-500 rounded-full"></span>
                        Administrador
                    </span>
                </div>
                }
            </div>
        }
    </div>


</div>